<%- include('../partials/header') %>

<h3>Add New Ticket</h3>
<form action="/flights/<%= flight._id %>/tickets" method="POST">
    <label>
        Seat:
        <input type="string" name="seat">
    </label><br>
    <label>
        Price:
        <input type="number" name="price">
    </label><br>
    <input type="submit" value="Add ticket">
</form>

<%- include('../partials/footer') %>