body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Quicksand', sans-serif;

}

#home-h2 {
  color: rgb(141, 141, 141);
  font-size: 5vmin;
  margin: 3vmin;
}

#home-h1 {
  font-size: 10vmin;
  margin: 0 10vmin;
}

#home-intro {
  font-size: 4vmin;
  margin: 2vmin 15vmin;
}

h2 {
  font-size: 7vmin;
}

nav {
  background-color: rgb(228, 228, 228);
  font-size: 3vmin;
  padding: 1vmin;
}

nav > a {
  padding: 2vmin;
}

a {
  color: #73ca83;
}

a:hover {
  color: #63e47a;
}

table {
  font-size: 3vmin;
}

#flight-list-row {
  font-size: 2vmin;
}

button {
  font-family: 'Quicksand', sans-serif;
}